*{
    margin: 0;
    padding: 0;
    background: black;
}

.panel{
    display: flex;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.jcenter{
    justify-content: center;
}

.jevenly{
    justify-content: space-evenly;
}

.jbetween{
    justify-content: space-between;
}

.jend{
    justify-content: flex-end;
}

.acenter{
    align-items: center;
}

.aend{
    align-items: end;
}
